@charset "UTF-8";
*{
	box-sizing: border-box;
}
hr{
	margin:0;
}
body{
	margin:0;
	padding0;
}
ul{
	list-style: none;
}
.container{
	width: 100%;
	text-align: center;
}
.menu{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

	@media screen and (max-width: 480px) {
		.menu{
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}
	}
	@media screen and (max-width: 736px) {
		.menu{
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}
	}

#menu0{
	background-color: #CCC;
}
	
.info_table{
	margin: 10px auto;
}
.info_img{
	width: 480px;
	height: 480px;
	float:left;
}

@media screen and (max-width: 480px) {
		
		.info_table{
			margin: 10px auto;
		}
		.info_img{
			width: 480px;
			height: 480px;
			float:left;
		}
	}
	@media screen and (max-width: 736px) {
		.info_table{
			margin: 10px auto;
		}
		.info_img{
			width: 480px;
			height: 480px;
			float:left;
		}
	}

.info_desc{
	width:480px;
	float:right;
}
.info_table:after{
	display: block;
	content:"";
	clear: both;
}
.move_wrap{
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
}

.move_list{
	float:left;
	width:20%;
	height: 100%;
}
.move_btn{
	width: 100%;
	height: 100%;
}
.move_ul{
	margin:0;
	height: 100%;
	padding: 0;
}
.move_ul:after{
	display:block;
	content:"";
	clear: both;
}

.info_detail{
	width: 100%;
}

	@media screen and (max-width: 480px) {
		.info_detail img{
			width: 100%;
		}
	}
	@media screen and (max-width: 736px) {
		.info_detail img{
			width: 100%;
		}
	}

.board_wrap{
	width: 80%;
	margin:20px auto;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}
.board_tr{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

