@charset "utf-8";

* {
	box-sizing:border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {

	html, body {
		min-width: 320px;
	}

}