@CHARSET "UTF-8";

.board{
	width:60%;
}

table.list {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-left: 1px solid #ccc;
    margin: 20px 10px;
}

table.list thead th {
    padding: 7px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #c00;
    background: #dcdcd1;
}
table.list tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #ececec;
}
table.list td {
    width: 350px;
    padding: 7px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

table.list td.title {
	text-align: left;
}

.list-div{
	width:100%;
	display : inline-block;
	text-align: center;
}
.paging-div {
	width:100%;
	display : inline-block;
	text-align: center;
	margin:0 auto;
}

/* 페이징  */
ul.paging {
	display:table;
	margin-left: auto;
 	margin-right: auto;
	text-align: center;
	list-style:none;
}

ul.paging li {
	float:left;
	display : inline-block;
	text-align: center;
}
ul:AFTER {
	display: block;
	content: "";
	clear: both;
}
ul.paging li a {
	padding:4px;
	margin-right:3px;
	width:15px;
	color:#000;
	font:bold 12px tahoma;
	border:1px solid #eee;
	text-align:center;
	text-decoration:none;
}

ul.paging li a:LINK {
	text-decoration: none;
}

ul.paging li a:hover, ul.paging li a:focus {
	color:#fff;
	border:1px solid #f40;
	background-color:#f40;
}

i.fa{
	font-style: normal;
}