@CHARSET "UTF-8";

* {
	box-sizing: border-box;
	margin : 0;
	padding : 0;
	list-style: none;
}

#container{
	width: 70%;
	margin: 0 auto;
}

.table_wrap{
	width: 100%;
	margin: 20px 0;
}

.content_table{
	width: 100%;
	border-collapse: collapse;
	border-top:2px solid #aaa;
	border-bottom:2px solid #aaa;
}

.content_tr{
	height: 50px;
	border-top:1px solid #aaa;
	border-bottom:1px solid #aaa;
}
.product_tr{
	border-bottom: 1px solid #aaa;
}

.content{
	padding: 1.2em;
	min-height: 300px;
}


.content_table tr th{
	width: 15%;
	font-size: 0.9em;

}
.table_td1{
	width: 85%;
	font-size: 0.8em;
}
.table_td2{
	width: 35%;
	font-size: 0.8em;
}
/* ===========      comment        ============ */

.comment_total_wrap{
	width: 100%;
	background-color: #aaa;
	padding:1em;
	margin: 20px 0 40px;
}

.comment_insert_wrap{
	width: 100%;
	background-color: #bbb;
	height: 80px;
	margin-bottom: 20px;
}

.comment{
	width: 95%;
	height: 100%;
	float:left;
	resize: none;
	padding: 0.8em;
}
.comment_btn{
	width:5%;
	height:100%;
	float:left;
}
.comment_insert_wrap:after{
	display:block;
	content:"";
	clear: both;
}






