@CHARSET "UTF-8";

* {
	box-sizing: border-box;
	margin : 0;
	padding : 0;
}

.board{
	width: 70%;
	margin: 1.2em auto;
	text-align: center;
}

.top{
	height : 100px;
}

.boardname{
	float: left;
	margin:20px;
}

#fr{
	float:right;
	margin:20px;
}

.list a{text-decoration: none;}
.list a:HOVER, .wrap a:ACTIVE, .list a:FOCUS {text-decoration: underline;}


.list {
	width: 100%;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
/*     border-left: 1px solid #ccc; */
    margin: 20px 10px;
}

.list thead th {
    padding: 7px;
    font-weight: bold;
    border-top: 1px solid #ccc;
/*     border-right: 1px solid #ccc; */
    border-bottom: 2px solid #888;
    font-size: 0.8em;
}
.list tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
/*     border-right: 1px solid #ccc; */
    border-bottom: 1px solid #ccc;
    background: #ececec;
}
.list td {
	font-size:0.8em;
    padding: 7px;
    vertical-align: top;
/*     border-right: 1px solid #ccc; */
    border-bottom: 1px solid #ccc;
}

.list td.title {
	text-align: left;
}

.list-div{
	width:100%;
	display : inline-block;
	text-align: center;
}
.paging-div {
	width:100%;
	display : inline-block;
	text-align: center;
	margin:0 auto;
}

.bottom{
	height: 60px;
}


.button{
	text-align:right;
}	



/* 페이징  */
.paging {
	display:table;
	margin-left: auto;
 	margin-right: auto;
	text-align: center;
	list-style:none;
}

.paging li {
	float:left;
	display : inline-block;
	text-align: center;
}
.paging:AFTER {
	display: block;
	content: "";
	clear: both;
}
.paging li a {
	padding:4px;
	margin-right:3px;
	width:15px;
	color:#000;
	font:bold 12px tahoma;
	border:1px solid #eee;
	text-align:center;
	text-decoration:none;
}

.paging li a:LINK {
	text-decoration: none;
}

.paging li a:hover, .paging li a:focus {
	color:#fff;
	border:1px solid #f40;
	background-color:#f40;
}

.fa{
	font-style: normal;
}

	@media screen and (max-width: 480px) {
		.board{
			width: 100%;
			margin:0;
		}
	}
	@media screen and (max-width: 736px) {
		.board{
			width: 100%;
			margin:0;
		}
	}