@CHARSET "UTF-8";

*{
	box-sizing: border-box;
	margin : 0;
	padding : 0;
}

.board{
	width: 80%;
	text-align: center;
	margin : 0 auto;
}

.jump{
	height: 20px;
}

.top{
	height : 100px;
}

.boardname{
	float: left;
	margin:20px;
}

#fr{
	float:right;
	margin:20px;
}


.wrap a{text-decoration: none;}
.wrap a:HOVER, .wrap a:ACTIVE, .wrap a:FOCUS {text-decoration: underline;}

.wrap{
	margin: 0 auto;
	font-size: 14px;
}

.wrap h1{
	padding: 10px 0 4px;
	border-bottom: 1px solid #aaa;
}

.ul_list{
	list-style: none;
	margin-left: auto;
 	margin-right: auto;
 	border : 1px soild;
}

.li_list {
	float: left;
	width : 25%;
}

.ul_list .imgli{
	height: 220px;
	display : inline-block;
}

.ul_list .desc{
	height: 150px;
	display : inline-block;
	padding: 10px 8px;
}

.thumb img{
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 200px;

}

.subject{
	clear: both;
    width: 210px;
    min-height: 52px;
    margin: 0 6px;
}

.writer{
	float: left;
}
.view{
	float: right;
}

		@media screen and (max-width: 480px) {
			.ul_list{
				width: 100%;
			}
			.li_list{
				width: 50%;
				height:300px;
			}
			
		}
		@media screen and (max-width: 736px) {
			.ul_list{
				width: 100%;
			}
			.li_list{
				width: 50%;
				height:300px;
			}
		}
		

.bottom{
	height: 60px;
}


.button{
	min-height: 10px;
	text-align:right;
}		

/* 페이징  */
ul.paging {
	display:table;
	margin-left: auto;
 	margin-right: auto;
	text-align: center;
	list-style:none;
}

ul.paging li {
	float:left;
	display : inline-block;
	text-align: center;
}
ul:AFTER {
	display: block;
	content: "";
	clear: both;
}
ul.paging li a {
	padding:4px;
	margin-right:3px;
	width:15px;
	color:#000;
	font:bold 12px tahoma;
	border:1px solid #eee;
	text-align:center;
	text-decoration:none;
}

ul.paging li a:LINK {
	text-decoration: none;
}

ul.paging li a:hover, ul.paging li a:focus {
	color:#fff;
	border:1px solid #f40;
	background-color:#f40;
}

i.fa{
	font-style: normal;
}