@CHARSET "UTF-8";

/* * { */
/* 	margin: 0; */
/* 	padding: 0; */
/* } */

.contents {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	height: 600px;
	font-family: sans-serif;
	background-image: url("../img/join.jpg");
}

.box {
	width: 500px; 
	padding: 50px;
	position: relative;
	background-position: center;
	top: 50%; 
	left: 50%;
	border: 1px solid;
	transform: translate(-50%,-50%);
	background-color: rgb(0,0,0,0.5);
	text-align: center; 
}

.box h2 {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 20px 20px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 30px;
	transition: 1s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
	width: 280px;
	border-color: #2ecc71;
}

.box input[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 1s;
	cursor: pointer;
}

.box inputp[type = "submit"]:hover{
	background: #2ecc71;
}

.btn {
	display: block;
	font-size: 20px;
	padding: 5px 10px;
	color: white;
	width: 100%;
	background: #34495e;
	cursor: pointer;
}

.btn:HOVER {
	animation: shake 0.6s infinite;
}

@keyframes shake {
	0%{
		transform: translate(0px,0px) rotate(0deg);
	}
	25%{
		transform: translate(1px,1px) rotate(1deg);
	}
	50%{
		transform: translate(-1px,-1px) rotate(-1deg);
	}
	75%{
		transform: translate(2px,-1px) rotate(2deg);
	}
	100%{
		transform: translate(-1px,-1px) rotate(-1deg);
	}
}