@CHARSET "UTF-8";

/* * { */
/* 	margin: 0; */
/* 	padding: 0; */
/* } */

.contents {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	height: 600px;
	font-family: sans-serif;
	background-image: url("../img/join.jpg");
}

.box {
	width: 500px; 
	padding: 50px;
	position: relative;
	background-position: center;
	top: 50%; 
	left: 50%;
	border: 1px solid;
	transform: translate(-50%,-50%);
	background-color: rgb(0,0,0,0.5);
	text-align: center; 
}

.box h2 {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 20px 20px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 30px;
	transition: 1s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
	width: 280px;
	border-color: #2ecc71;
}

.box input[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 1s;
	cursor: pointer;
}

.box inputp[type = "submit"]:hover{
	background: #2ecc71;
}

.btn {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.btn:hover {
  background-color: black; 
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
