@CHARSET "UTF-8";

.title_logo {
	font-family: "Anton", sans-serif;
	color: white;
	font-size: 4rem;
	letter-spacing: 3px;
	background: url("https://i.pinimg.com/originals/82/a2/0a/82a20abf88aa80eae3f30572bdc2bff1.jpg");
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;	
	animation: animate 3s linear infinite;
}

@keyframes animate{
	from {
		background-position: 0% 50%;
	}
	to {
		background-position: 100% 50% 0%;
	}
}

