@CHARSET "UTF-8";

.title_logo {
	font-family: "Anton", sans-serif;
	color: white;
	font-size: 4rem;
	letter-spacing: 3px;
	background: url("https://lh3.googleusercontent.com/proxy/NSdzicnYJtrGZ-1wIOQgIIBImVVjQlUsFk-uVCbRk8U1mLUAPi_rGXZ1ImvyGrGJMaW0VK75jsLrkJT6dI5R4R-Y5_Ml2QluFzo99xmupm4bDDAwPJs2ArAB60bsAVmourpcUML_YVfBUD_p3qpZ8fs8jYVN063LTwPEfvEcBFhJUtqEPn8ZEGtixMuZXggoragQGKgyMsEhKumey7TooY_r");
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;	
	animation: animate 3s linear infinite;
}

@keyframes animate{
	from {
		background-position: 0% 50%;
	}
	to {
		background-position: 100% 50% 0%;
	}
}
































