@CHARSET "UTF-8";

.title_logo {
	font-family: "Anton", sans-serif;
	color: white;
	font-size: 4rem;
	letter-spacing: 3px;
	background: url("https://lh3.googleusercontent.com/proxy/EhEBwKzSQXZBzhpvk7TXkGtomUU7osQusyjLrufyI2cscQ9FNTOMdduzGLK0clbDxXJhL1eB39iitXXgh7FBs28ukALfkNpHkLyxS47iaY0mpk5y5btVx8jBvLMlPYOoUAV0_rXB9qaxyPeLq-kadAvzzLPJqFAKwuOaNA-PIwqrPm6Jz-0IqYjalABP1M0qxMMmMExZvbU0KPH2wtuHy7o7");
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;	
	animation: animate 3s linear infinite;
}

@keyframes animate{
	from {
		background-position: 0% 50%;
	}
	to {
		background-position: 100% 50% 0%;
	}
}
































