@CHARSET "UTF-8";


* {
  box-sizing: border-box;
}
  html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: white;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;

    }
    .swiper-container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  
  	.newlist {
  		width: 80%;
  		margin: 0 auto;
  		padding: 0;
  	}
  
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      height: calc((100% - 30px) / 2);
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

	/*2칼럼 스와이퍼*/
	.second {
      height: 500px;
	}
	.second .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      height: 40%;
	}
	.second img {
      width: 100%;
      height: 100%;
	}


.row {
	margin: 0 auto;
	padding: 0;
	width: 80%;
} 

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
}

/* Fake image */
.fakeimg {
  width: 100%;
/*   height: 100%; */
}

/* Add a card effect for articles */
.card {
  padding: 10px;
  margin-top: 20px;
}

.card img {
	padding: 0;
	margin: 0 auto;
	width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
