@charset "utf-8";
* {
	box-sizing: border-box;
}

.list a{text-decoration: none;}
.list a:HOVER, .wrap a:ACTIVE, .list a:FOCUS {text-decoration: underline;}



.list {
	width: 100%;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
/*     border-left: 1px solid #ccc; */
/*     margin: 20px 10px; */
}



.list thead th {
    padding: 7px;
    font-weight: bold;
    border-top: 1px solid #ccc;
/*     border-right: 1px solid #ccc; */
    border-bottom: 2px solid #888;
    font-size: 0.8em;
}


.list tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
/*     border-right: 1px solid #ccc; */
    border-bottom: 1px solid #ccc;
    background: #ececec;
}
.list td {
	font-size:0.8em;
    padding: 7px;
    vertical-align: top;
/*     border-right: 1px solid #ccc; */
    border-bottom: 1px solid #ccc;
}

.list td.title {
	text-align: left;
}