@CHARSET "UTF-8";

.container{
	position: relative;
}

.contents{
	width: 80%;
    margin: 5px auto 50px;
    min-height: 600px;
}

.h2{
	display: inline-block;
    *display: inline;
    *zoom: 1;
    color: #2e2e2e;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

a{
	text-decoration: none;
    color: #000;
    outline: none;
}

.title h3{
	display: inline-block;
    vertical-align: middle;
    color: #353535;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.title p{
	margin: -30px 0 0;
    color: #ff0000;
    text-align: right;
    font-size: 14px;
}

table{
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

input{
	font-size: 100%;
    color: #353535;
    vertical-align: middle;
    outline: none;
    font-family: "Roboto","Arial","돋움","Dotum","Apple SD Gothic Neo","Apple Gothic",sans-serif;
}

input[type="checkbox"]{
	width: 13px;
    height: 13px;
    border: 0;
}

.list{
	table-layout: fixed;
    margin: 0 0 1px;
    border-top: 1px solid #e7e7e7;
    color: #353535;
    font-size: 14px;
    line-height: 1.5;
}

colgroup{
	display: table-column-group;
}

col{
	display: table-column;
}

thead{
	display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.list th{
	height: 44px;
    font-weight: normal;
    background: #fff;
    vertical-align: middle;
    background-color: #d1d1d1;
}

.list th:FIRST-CHILD {
	border-left: 0;
}

.table_div{
	border: 1px solid #dfdfdf;
    border-radius: 4px;
    overflow: hidden;
}

.empty{
	padding: 55px 0;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #888;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.tbody{
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.list td{
	padding: 9px 0;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}

.btn_div .btn{
	margin-right: -6px;
	margin-bottom: 50px;
}

.btn{
    padding: 0 .95em;
    min-width: 49px;
    font-size: 11px;
    height: 28px;
    line-height: 27px;
    font-weight: normal;
}

.order_btn{
	color: #fff;
    border: 1px solid #373737;
    border-bottom-color: #2f2f2f;
    box-shadow: 0 1px 2px rgba(0,0,0,0.04);
    background: #8c8c8c;
    padding: 0 1.0em;
    font-size: 12px;
    min-width: 125px;
    height: 42px;
    line-height: 41px;
    letter-spacing: 1px;
    font-weight: bold;
}

.order_btn:HOVER {
	background: #6b6b6b;
}


.orderbtn_div{
	text-align: center;
	margin-top: 50px;
}

.help{
	margin: 20px 0;
    border: 1px solid #e7e7e7;
    line-height: 18px;
    background: #fafafa;
}

.help h3{
	padding: 10px 0 8px 12px;
    border-bottom: 1px solid #e7e7e7;
    color: #101010;
    font-size: 15px;
    
}

.inner{
    padding: 5px 17px 23px;
}

.inner h4{
	margin: 22px 0 -4px;
    color: #404040;
    font-size: 14px;
    font-weight: bold;
}

.inner h4:FIRST-CHILD {
	margin-top: 20px;
}

.inner ol{
	margin: 15px 0 0 0;
    font-size: 12px;
}

.inner ol li{
	background-position: -484px 0;
}

.orderArea{
	margin-top: 30px;
}

input[type="text"]{
	height: 22px;
    line-height: 24px;
    padding: 2px 8px;
    border: 1px solid #e7e7e7;
    font-size: 13px;
}

.orderlist{
	margin-bottom: 30px;
	font-size: 14px;
}

.orderlist th{
	padding: 12px 0 11px 18px;
    border: 1px solid #e7e7e7;
    border-bottom-width: 0;
    color: #353535;
    text-align: left;
    font-weight: normal;
    background-color: #fbfbfb;
}

.orderlist span, .h2 span, .title span{
	font-size: 14px;
	color: #8e8e8e;
}

.emailSelect{
	height: 25px;
}

.orderstar_btn{
	padding: 0 .95em;
    min-width: 49px;
    font-size: 11px;
    height: 28px;
    line-height: 27px;
    font-weight: normal;
    color: #666;
    border: 1px solid #e3e3e3;
    border-bottom-color: #c7c7c7;
    box-shadow: 0 1px 2px rgba(0,0,0,0.04);
    background: #fff;
}

.orderlist span.payment{
	font-size: 14px;
	color: black;
	margin-right: 10px;
}

.coupon_table{
    margin: 0 0 1px;
    border-top: 1px solid #e7e7e7;
    color: #353535;
    font-size: 14px;
    line-height: 1.5;
}

.coupon_table th{
    font-weight: normal;
    background: #fff;
    vertical-align: middle;
    background-color: #d1d1d1;
    text-align: center;
}

.coupon_table th:FIRST-CHILD {
	border-left: 0;
}

.coupon_table td{
	padding: 9px 0;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}

.payment_div{
	text-align: center;
}




