@charset "UTF-8";
*{
	box-sizing: border-box;
}
hr{
	margin:0;
}
body{
	margin:0;
	padding0;
}
ul{
	list-style: none;
}
.container{
	width: 100%;
	text-align: center;
}
.menu{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.info_table{
	width: 1200px;
	margin: 10px auto;
}
.info_img{
	width: 560px;
	height: 560px;
	float:left;
}
.info_desc{
	width:560px;
	margin-left:80px;
	float:left;
}

	@media screen and (max-width: 480px) {
		.info_table{
			width: 100%;
			margin: 0;
		}
		.info_img{
			width: 100%;
			float:left;
		}
		.info_desc{
			width:480px;
			margin:0;
			float:left;
		}
		.menu{
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}
		
	}
	@media screen and (max-width: 736px) {
		.info_table{
			width: 100%;
			margin: 0;
		}
		.info_img{
			width: 100%;
			height: auto;
			float:left;
		}
		.info_desc{
			width:100%;
			margin:0;
			float:left;
		}
		.menu{
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}
		
	}


.info_table:after{
	display: block;
	content:"";
	clear: both;
}
.move_wrap{
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
}

.move_list{
	float:left;
	width:20%;
	height: 100%;
}
.move_btn{
	width: 100%;
	height: 100%;
}
.move_ul{
	margin:0;
	height: 100%;
	padding: 0;
}
.move_ul:after{
	display:block;
	content:"";
	clear: both;
}

.info_detail{
	width: 100%;
	padding:0.3em;
}

	@media screen and (max-width: 480px) {
		.info_detail img{
			width: 100%;
		}
	}
	@media screen and (max-width: 736px) {
		.info_detail img{
			width: 100%;
		}
	}

.board_wrap{
	width: 80%;
	margin:20px auto;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}
.board_tr{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.detail_table{
	width:80%;
	margin: 10px auto;
	text-align: left;
	border-top: 2px solid #aaa;
	border-bottom: 2px solid #aaa;
	font-size: 0.8em;
}
.detail_td{
	padding: 1.2em 0 1.2em 0.8em;
}

.selected_table{
	width: 80%;
	margin: 10px auto;
	text-align: left;
	border-top: 2px solid #aaa;
	border-bottom: 2px solid #aaa;
	font-size: 0.8em;	
}
.selected_td{
	padding: 1.2em 0 1.2em 0.8em;
}

.selected_th{
	border-bottom: 1px solid #aaa;
}
.selected_td_last{
	border-top: 2px solid #aaa;
}

.detail_select{
	width: 80%;
	height: 40px;
	margin: 20px auto;
	text-align: left;
	font-size: 0.8em;
	padding-left: 0.8em;
}
.detail_select_title{
	display:inline-block;
	line-height:40px;
	width:35%;
}
.detail_select_input{
	width:60%;
	height:100%;
	padding-left: 0.5em;
}

.btn_wrap{
	width: 80%;
	margin: 10px auto;
}

.top_btn_wrap{
	width: 100%;
}

.buy_btn{
	width:30%;
	float:left;
	height : 40px;
}

.fav_btn{
	width: 30%;
	float:right;
	height : 40px;
}
.top_btn_wrap:after{
	display:block;
	content:"";
	clear: both;
}
.kakao_btn{
	width: 100%;
	height : 40px;
	margin-top: 10px;
}

