@CHARSET "UTF-8";

* {
	box-sizing: border-box;
}

hr {
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	text-align: center;
}

.menu {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.detail_table {
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

.detail_td {
	text-align: center;
	padding: 0;
}

.detail_tr:NTH-CHILD(even){
	background-color: #f2f2f2;
}


/* good/animal list sub 버튼 */
.a_btn {
	background-color: white;
	color: black;
	border: 2px solid #e7e7e7;
	text-align: center;
	padding: 5px 21px;
	font-size: 16px;
	margin: 0 auto;
	transition-duration: 0.4s;
	cursor: pointer;
}

.a_btn:hover {
	background-color: #e7e7e7;
}
